DB_URL=jdbc:mysql://localhost:3306/smartblog_auth?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=your_mysql_password

JWT_SECRET=please_replace_with_a_random_secret_at_least_32_bytes_long

MAIL_HOST=smtp.163.com
MAIL_PORT=465
MAIL_USERNAME=your_163_email@163.com
MAIL_AUTH_CODE=your_163_authorization_code
MAIL_SMTP_SSL_ENABLE=true
MAIL_SMTP_STARTTLS_ENABLE=false

JWT_ACCESS_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION_DAYS=7

EMAIL_CODE_EXPIRE_MINUTES=10
EMAIL_CODE_SEND_INTERVAL_SECONDS=60
EMAIL_CODE_MAX_SEND_PER_HOUR_TARGET=5
EMAIL_CODE_MAX_SEND_PER_HOUR_IP=20
EMAIL_CODE_MAX_ATTEMPTS=5